--extra-index-url https://download.pytorch.org/whl/cu118
numpy
pandas
torch
torchvision
torchaudio
scikit-learn
sentence-transformers
gensim
POT
tabulate
langchain
langchain-ollama
langchain_community
langchain_core
ollama
fuzzywuzzy
python-Levenshtein
ipywidgets